<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- Targets -->
  <targets>
    <target xsi:type="MethodCall" 
            name="databaseTarget" 
            methodName="SaveLog"
            className="Clothes.Store.Repository.Services.LogServices, Clothes.Store.Repository.Services">

      <parameter name="@log" layout="${level:uppercase=true} ${message} ${exception:format=ToString}" />
    </target>
  </targets>

  <!-- Rules -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="databaseTarget" />
  </rules>
</nlog>
